*{
    margin: 0;
    padding: 0;
}

h2, p{
    font-family: 'Poppins', sans-serif;
}

.containerDoacao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120vh;
}

.containerDoacao .doacao{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 105vh;
    width: 80%;
    margin-bottom: 10vh;
    margin-top: 10vh;
    background-color: var(--branco-fundo);
    border: solid 2px #0A3937;
    border-radius: 40px;
}

.doacao h2{
    font-size: 1.4rem;
    color: #0A3937;
    padding-top: -10vh;
    padding-bottom: -5vh;
    margin: 0;
    font-weight: 400;
}

.doacao .subtitulo{
    font-style: italic;
    padding-bottom: 5vh;
}

.doacao .caixaProdutos{
    background-color: #3EB4AE4D;
    border-radius: 11px;
    padding: 10px;
    width: 80%;
    text-align: center;
    color: #055854;
    font-weight: 300;
}

.doacao .checkbox{
    display: flex;
    justify-content: flex-start;
    width: 80%;
    padding: 10px;
    border: solid 1px #0A3937;
    border-radius: 11px;
    font-size: 0.9rem;
}

.doacao .checkbox p{
    padding-left: 8px;
}

.doacao button{
    background-color: #09625D;
    padding: 10px;
    width: 30%;
    border: none;
    color: #fff;
    height: 8vh;
    border-radius: 20px;
    text-align: center;
    font-size: 1rem;
}

.doacao .bntDoar{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

