
.containerDoacao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120vh;
}

.containerDoacao .doacao{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 105vh;
    width: 80%;
    background-color: var(--branco-fundo);
    border: solid 2px #0A3937;
    border-radius: 40px;
}

.doacao h2{
    font-size: 1.4rem;
    color: #0A3937;
    padding-top: -10vh;
    padding-bottom: -5vh;
    margin: 0;
    font-weight: 400;
}

.doacao .subtitulo{
    font-style: italic;
    padding-bottom: 5vh;
}

.doacao .caixaProdutos{
    background-color: #3EB4AE4D;
    border-radius: 11px;
    padding: 10px;
    width: 80%;
    text-align: center;
    color: #055854;
    font-weight: 300;
}

.doacao .checkbox{
    display: flex;
    justify-content: flex-start;
    width: 80%;
    padding: 10px;
    border: solid 1px #0A3937;
    border-radius: 11px;
    font-size: 0.9rem;
}

.doacao .checkbox p{
    padding-left: 8px;
}

.doacao .checkbox input{
    cursor: pointer;
}


.doacao button, .containerColcluirDoacao input{
    background-color: #09625D;
    padding: 10px;
    width: 150px;
    border: none;
    color: #fff;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    font-size: 1rem;
}

.bntDoar{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resumo {
    text-align: center;
    color: #09625D;
    font-weight: 400;
}


.bntDoar a{
    color: #fff;
    font-size: 1.2rem ;
}

.infoOng{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin-left: 15%;
    margin-top: -9vh;
}

.infoOng h1{
    font-size: 2rem;
    font-weight: 600;
    margin-left: -74%;
}

.infoOng p, a{
    font-size: 1rem;
    color: #000;
    padding-top: 15px;
}

.infoOng a{
    text-align: left;
    width: 100%;
    font-style: italic;
    text-decoration: underline;
}

/*  */
.navBg {
    width: 100%;
    height: 300px;
    background-color: #00000046;
}

/* icone profile */
.navProfile {
    margin-top: -30px;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50px;
    margin-left: 5%;
}

.navBg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navProfile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%; 
}

.container-map {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  */
.containerColcluirDoacao{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 10vh;

}

.containerColcluirDoacao .icon-text{
    display: flex;
    align-items: center;
}

.containerColcluirDoacao .icon-text img{
    height: 20px;
    width: 20px;
}

.containerColcluirDoacao .icon-text h3{
    padding: 10px;
    font-weight: 560;
}

.infoDoacao{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.infoDoacao .hr, .hr1{
    width: 120%;
    height: 1.5px;
    background-color: #055854;
    margin-top: 6vh;
    margin-bottom: 6vh;
}

.infoDoacao .margin-left{
    margin-left: 2vw;
}

.infoDoacao p{
    line-height: 1.7;
    font-size: 17px;
}

.infoDoacao .destaque{
    color: #055854;
    font-style: italic;
}

.containerColcluirDoacao  .checkbox{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    font-size: 0.9rem;
    margin-bottom: 5vh;
}

.containerColcluirDoacao  .checkbox p{
    padding-left: 10px;
}

.containerColcluirDoacao  .checkbox input{
    cursor: pointer;
    height: 20px;
    width: 20px;
}


@media (max-width: 820px) {

    .containerDoacao .doacao{
         height: 85vh;
         padding-top: 5vh;
    } 

    .doacao h2{
        text-align: center;
    }

    .doacao button{
        width: 50%;
        height: 5vh;
    }
}
