*{
    margin: 0;
    padding: 0;
}

h2, p{
    font-family: 'Poppins', sans-serif;
}

.containerDoacao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120vh;
}

.containerDoacao .doacao{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 105vh;
    width: 80%;
    background-color: var(--branco-fundo);
    border: solid 2px #0A3937;
    border-radius: 40px;
}

.doacao h2{
    font-size: 1.4rem;
    color: #0A3937;
    padding-top: -10vh;
    padding-bottom: -5vh;
    margin: 0;
    font-weight: 400;
}

.doacao .subtitulo{
    font-style: italic;
    padding-bottom: 5vh;
}

.doacao .caixaProdutos{
    background-color: #3EB4AE4D;
    border-radius: 11px;
    padding: 10px;
    width: 80%;
    text-align: center;
    color: #055854;
    font-weight: 300;
}

.doacao .checkbox{
    display: flex;
    justify-content: flex-start;
    width: 80%;
    padding: 10px;
    border: solid 1px #0A3937;
    border-radius: 11px;
    font-size: 0.9rem;
}

.doacao .checkbox p{
    padding-left: 8px;
}

.doacao button{
    background-color: #09625D;
    padding: 10px;
    width: 30%;
    border: none;
    color: #fff;
    height: 8vh;
    border-radius: 20px;
    text-align: center;
    font-size: 1rem;
}

.doacao .bntDoar{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoOng{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin-left: 15%;
    margin-top: -9vh;
}

.infoOng h1{
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: -88%;
}

.infoOng p, a{
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    color: #000;
    padding-top: 15px;
}

.infoOng a{
    text-align: left;
    width: 100%;
    font-style: italic;
    text-decoration: underline;
}

/*  */
.navBg {
    width: 100%;
    height: 20vh;
    background-color: #00000046;
}

/* icone profile */
.navProfile {
    margin-top: -30px;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    background-color: #cecece;
    border-radius: 50px;
    border: 1px solid #09625D;
    margin-left: 5%;
}

.navBg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navProfile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%; /* garante que a imagem fique redonda */
}

@media (max-width: 820px) {

    .containerDoacao .doacao{
         height: 85vh;
         padding-top: 5vh;
    } 

    .doacao h2{
        text-align: center;
    }

    .doacao button{
        width: 50%;
        height: 5vh;
    }
}
