/* ==========================
   VARIÁVEIS DE CORES
========================== */
:root {
  --primaria-escura: #09625d;
  --primaria-media: #3eb4ae;
  --primaria-clara: #d3fffd;
  --primaria-escura-2: #0a3937;
  --destaque-rosa: #8b2e5e;
  --destaque-rosa-claro: #f4dce4;
  --destaque-rosa-vivo: #b43eaa;
  --branco: #ffffff;
  --branco-fundo: #fffafa;
  --cinza-claro: #d7d7d7;
  --cinza-escuro: #444444;
}

/* ==========================
   RESET & BODY
========================== */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: var(--branco-fundo);
}

/* ==========================
   CARRINHO
========================== */
.carrinho-container {
  max-width: 1200px;
  min-height: 600px;
  margin: 40px auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 350px;
  gap: 30px;
}

.carrinho-box, .resumo-box {
  background: var(--branco);
  border-radius: 12px;
  padding: 25px;
  border: 2px solid var(--cinza-claro);
}

.carrinho-box {
    height: 100%;
}

.resumo-box {
    height: 270px;
}

.titulo-carrinho {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  color: var(--primaria-escura);
  text-align: center;
}


/* Pagamentos */
.pagamento-container {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 25px;
  margin-top: 15px;
  align-items: stretch;
}

.pagamento-container {
    height: 80%;
}

.pagamento-box h3{
    margin-bottom: 20px;
    color: var(--primaria-media);
    text-align: center;
}

/* COLUNA DE OPÇÕES */
.pagamento-opcoes {
  display: flex;
  flex-direction: column;
  border-right: 2px solid var(--cinza-claro);
  padding-right: 15px;
  height: 100%;
}

.btn-finalizar {
  margin: 15px auto 0 auto;
  width: 100%;
  padding: 12px;
  background: var(--primaria-media);
  color: var(--branco);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-finalizar:hover {
  background: var(--primaria-escura);
}


.btn-finalizar a {
  text-decoration: none;
  color: var(--branco);
}

.pagamento-opcoes label {
  padding: 15px 10px;
  border-bottom: 1px solid var(--cinza-claro);
  cursor: pointer;
  transition: .2s;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.pagamento-opcoes label:last-child {
  border-bottom: none;
}

.pagamento-opcoes input {
  display: none;
}

/* Quando selecionado */
.pagamento-opcoes input:checked + span {
  background: var(--primaria-clara);
  border: 1px solid #09625d;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;        
  width: 100%;       
  border-radius: 6px;
  font-weight: 700;
  transition: .2s;
}


/* ÁREA DO CONTEÚDO */
.pagamento-detalhes {
  padding-left: 20px;
  display: flex;
  align-items: center;
  min-height: 200px;
}

/* Cartão de Crédito */

#pagCartao input, 
#pagCartao select {
  width: 100%;
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid var(--cinza-claro);
  font-size: 14px;
}

.linha-cartao {
  display: flex;
  gap: 15px;
}

.linha-cartao div {
  flex: 1;
}

#resultadoParcelas {
  margin-top: 8px;
  font-weight: bold;
  color: var(--primaria-escura);
}

.campo-cartao {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  margin-bottom: 15px;
}

.campo-cartao label {
  margin-bottom: 5px;
  font-weight: bold;
}

.campo-cartao input {
  width: 300px; 
  padding: 8px;
  font-size: 16px;
}

/* PIX */

#pagPix {
  padding: 20px;
  text-align: center;
}

.titulo-pix {
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: bold;
}

.campo-pix {
  width: 100%;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 6px;
  font-size: 14px;
}

.btn-copiar {
  margin-top: 12px;
  padding: 10px;
  width: 100%;
  background: #44b6a1;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

.btn-copiar:hover {
  opacity: 0.9;
}

.titulo-qrcode {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}

.qrcode {
  width: 180px;
  margin-top: 10px;
}

/* BOLETO */
#pagBoleto {
  padding: 20px;
  text-align: center;
}

.titulo-boleto {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
  margin-top: -150px;
}

.btn-gerar-boleto {
  width: 100%;
  padding: 12px;
  border: 1px solid #000;
  background: transparent;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 40px;
}

/* Observação */
.obs-boleto {
  margin-top: 30px;
  font-size: 13px;
  color: #333;
}

.btn-finalizar-boleto {
  margin: 15px auto 0 auto;
  width: 100%;
  padding: 12px;
  background: var(--primaria-media);
  color: var(--branco);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.btn-finalizar-boleto:hover {
  background: var(--primaria-escura);
}

.btn-finalizar-boleto a {
  text-decoration: none;
  color: var(--branco);
}



/* ==========================
   RESUMO
========================== */
.resumo-box .card {
  margin-bottom: 20px;
}

.card h3 {
  margin-top: 0;
  font-size: 20px;
  margin-bottom: 20px;
  color: var(--primaria-escura);
}

.card input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--cinza-claro);
  border-radius: 6px;
  margin-bottom: 10px;
}

.linha-total {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  margin-top: 20px;
}

.totalzao strong {
  font-size: 20px;
  color: var(--destaque-rosa);
}


