.container-hero{
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-img{
  height: 80%;
  width: 95%;
  background: 
    linear-gradient(rgba(0, 0, 0, 0.322), rgba(0, 0, 0, 0.116)), 
    url(../assets/img/causas.svg) center/cover no-repeat;
  
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-img h1{
  font-size: 2.2rem;
  margin-bottom: 20px;
}

.container-img h1, h3{
  font-weight: 500;
}

/* CONTAINERS GERAIS */

.titulo-causas{
  display: flex;
  gap: 20px;
}

.titulo-causas img{
  position: relative;
  top: -15px;
  width: 60px;
}

.titulo-causas h2{
  margin-right: 120px;
  text-align: center;
  width: 600px;
}

.causas-details-content ul{
  margin-left: 20px;
}


.fraseMotivadora{
  margin-top: 30px;
  display: flex;
  gap: 10px;
}

.barrinha{
  background-color: #05625D;
  width: 5px;
  height: 70px;
}

.fraseMotivadora-txt{
  display: flex;
  height: 50px;
  gap: 10px;
  align-items: center;
}

.fraseMotivadora-txt img{
  width: 30px;
}

.imagem-principal-causas{
  position: relative;
  width: 330px;
  top: 60px;
}



/* CAUSA CONTAINER-BRANCO */

.white-container{
  height: 500px;
  display: flex;
  padding-right: 60px;
  gap: 40px;
}

.causas-img-leftcontent{
  width: 37%;
}

.causas-img-leftdetails{
  position: relative;
  display: flex;
  height: 500px;
  flex-direction: column;
  align-items: end;
}

.causa-rightContent{
  position: relative;
  width: 50%;
}

.imagem-secundaria-causas{
  position: relative;
  left: -200px;
  top: -100px;
  width: 250px;
}

.titulo-azul{
  color: #05625D;
}




/* PURPLE CONTAINER */



.purple-container{
  background-image: url("../assets/img/onda-rosa.png"); 
  height: 580px;
  background-size: cover; 
  background-repeat: no-repeat; 
  display: flex;
  padding: 100px 0px 0px 300px;
  gap: 40px;

}

.causa-leftContent{
  position: relative;
  width: 50%;
}

.container-geral-esquerdo{
  width: 700px;
  position: absolute;
  right: 0; 
}

.container-geral-direito{
  width: 700px;
  position: absolute;
  left: 0; 
}

.causas-img-rightcontent{
  width: 40%;
}

.causas-img-rightdetails{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.imagem-secundaria-causasright{
  position: relative;
  top: -100px;
  left: 200px;
  width: 200px;
}

.barrinharoxa{
  background-color: #8B2E5E;
}

.titulo-roxo h2{
  color: #8B2E5E;
}


/* BLUE CONTAINER */

.blue-container{
  height: 570px;
  background-image: url(../assets/img/onda-azul.png);
  background-size: cover; 
  background-repeat: no-repeat; 
  display: flex;
  padding: 100px 0px 0px 300px;
  gap: 40px;
}


/* DETAILS */

.titulo-causas1{
  display: flex;
  gap: 20px;
  text-align: center;
}

.titulo-causas1 img{
  position: relative;
  top: 20px;
  width: 50px;
  height: 50px;
}

.causa-religiosa{
  width: 230px;
  top: -100px;
  left: 180px;
  filter: drop-shadow(2px 2px 1px rgb(255, 255, 255));
}

.imagem-ambiental{
  left: -180px;
  top: -50px;
}

.imagem-educacional{
  width: 180px;
  top: -30px;
  left: 250px;
}

.imagem-saude{
  width: 330px;
  left: -50px;
  top: -60px;
}

.causa-cultural{
  width: 230px;
  top: -70px;
  filter: drop-shadow(2px 2px 1px rgb(255, 255, 255));
} 

.imagem-humanitaria{
  left: -150px;
  top: -20px;
}

.causa-mulheres{
  width: 300px;
  left: -130px;
  top: -80px;
}

.causa-lgbtqia{
  width: 300px;
  left: 150px;
  top: -50px;
}

.causa-cea, .causa-pcd{
  width: 300px;
  left: -100px;
  top: -40px;
}

.causa-idoso{
  width: 300px;
  left: 90px;
  top: -40px;
}

.pcd-titulo img{
  top: 30px;
  filter: saturate(140%) contrast(110%);
  width: 70px;
  height: 70px;
}