.hero-img {
    position: relative;
    height: 340px;
    overflow: hidden;
}

.hero-img .bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

.hero-txt {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(26, 33, 48);
}

.hero-txt h1{
    font-size: 2.8rem;
    color: #A6FCF7;
}

.hero-txt h2{
    font-size: 1.8rem;
    font-weight: 100;
    margin-top: 20px;
    color: #B1E0DE;
}

.cards-container{
    padding: 50px 60px;
    display: flex;
    justify-content: center;
}


.cards-content{
    width: 1200px;
    display: flex;
    justify-content: space-around;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    padding: 20px;
    border: 2px solid #09625D;
    background-color: #3eb4ae27;
    border-radius: 20px;
    transition: 0.5s all ease;
    cursor: pointer;
}

.card:hover {
    background-color: #3eb4ae60;
    transform: translateY(-10px);
}

.card img{
    width: 50px;
}

.card h3{
    text-align: center;
    margin: 20px 0px;
}


/* COMO FUNCIONA */

.como-funciona-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 60px;
}

.como-funciona-container h2{
    color: #09625D;
    margin-bottom: 20px;
}

.como-funciona-container h3{
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 50px;
}

.infos-grid{
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.infos{
    display: flex;
    gap: 20px;
    margin: 30px 50px;
}

.number{
    position: relative;
    background-color: #3eb4ae77;
    color: #09625D;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number span{
    position: absolute;
}

.passos{
    width: 450px;
}

.passos h3{
    margin: 0;
    text-align: start;
    margin-bottom: 5px;
}

.passos p{
    font-size: 16px;
}
