body {
  font-family: "Inter", sans-serif;
  background-color: #f3f6f5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-container {
  background: #fff;
  width: 700px;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border: 3px solid #09625D;
  margin-top: 50px;
}

h2 {
  color: #09625D;
  text-align: center;
  margin-bottom: 8px;
}

p.subtitle {
  text-align: center;
  color: #555;
  font-size: 14px;
  margin-bottom: 25px;
}

label {
  font-weight: 500;
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"], select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #09625D;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
  resize: none;
}

textarea {
  min-height: 70px;
}

.image-section {
  margin-top: 20px;
}

.image-preview {
  width: 100%;
  height: 150px;
  background-color: #eaf3f1;
  border: 1px solid #09625D;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.image-preview span {
  color: #666;
  font-size: 14px;
  position: absolute;
}

.causas {
  margin-top: 20px;
}

.button-container {
  text-align: center;
  margin-top: 30px;
}

button {
  background-color: #09625D;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 30px;
  font-size: 20px;
  width: 400px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #096a57;
}

.small-text {
  font-size: 12px;
  color: #666;
  margin-top: 4px;
}

input[type="file"] {
  display: none;
}
