/* CSS FORMS DOAÇÃO */

/* --------------------------------------
   FORMULÁRIO PRINCIPAL
-------------------------------------- */
.formulario {
    margin: 150px auto 150px auto; 
    width: 1002px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    border: 3px solid rgba(9, 98, 93, 1);
    border-radius: 16.84px;
    box-shadow: 0 4px 20px rgba(9, 98, 93, 0.25);
}


/* --------------------------------------
   SEÇÕES DE RADIO
-------------------------------------- */
.caixa-recorrente,
.caixa-pontual {
    border: 2.5px solid rgba(9, 98, 93, 1);
    border-radius: 8.42px;
    padding: 15px;
    margin: 10px;
}

.caixa-pontual {
    height: 202px;
}

.caixa-pontual,
.caixa-recorrente {
    width: 421px;
    border-style: solid;
    border-color: rgba(9, 98, 93, 1);
    border-width: 2.5px 3px 3px 2.5px;
    border-radius: 8.42px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.opcao {
    font-size: 20px;
    display: flex;
    padding: 0;
    margin-top: 0;
    margin-left: 3px;
}

.opcao input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    width: 20.94px;
    height: 20.94px;
    border-radius: 50%;
    border: 2px solid rgba(9, 98, 93, 1);
    background-color: white;
    margin-right: 10px;
    transition: 0.2s;
    flex-shrink: 0;
}

.opcao input[type="radio"]:checked+.checkmark {
    background-color: rgba(36, 155, 149, 1);
}

/* --------------------------------------
   LABELS
-------------------------------------- */
label {
    display: block;
    font-size: 20px;
    text-align: left;
    margin-bottom: 5px;
}

input,
textarea,
select {
    padding: 10px 15px; 
    box-sizing: border-box;
}


.input-descricao,
.input-titulo {
    margin-top: 40px;
    margin-left: 25px;
}

input, label, textarea, select {
    background-color: white;
}

.label-itemNome {
    margin-left: 25px;
    font-size: 16px;
    margin-top: 5px;
}

.label-item {
    margin-bottom: 5px;
    font-size: 16px;
    margin-top: 5px;
}

/* --------------------------------------
   SELECTS
-------------------------------------- */
.responsavelPedido {
    width: 864px;
    height: 52px;
    border-radius: 8.42px;
    border-style: solid;
    border-color: rgba(9, 98, 93, 1);
    border-width: 3px 2.5px 2.5px 3px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    background-color: white;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("/src/assets/img/Vector.svg");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
}

select:focus {
    outline: none;
    border-color: rgba(9, 98, 93, 1);
    box-shadow: none;
}

/* --------------------------------------
   INPUTS
-------------------------------------- */
input {
    border: 3px solid rgba(9, 98, 93, 1);
    border-radius: 8.42px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.tituloPedido {
    width: 863.91px;
    height: 55.57px;
    border-style: solid;
    border-color: rgba(9, 98, 93, 1);
    border-width: 3px 2.5px 2.5px 3px;
}

.descricao {
    width: 864px;
    height: 80px;
    border-style: solid;
    border-color: rgba(9, 98, 93, 1);
    border-width: 3px 2.5px 2.5px 3px;
}

.input-item {
    height: 40px;
    border-radius: 8.42px;
    outline: none;
    padding: 5px 10px;
    font-size: 16px;
    box-sizing: border-box;
    border-style: solid;
    border-color: rgba(9, 98, 93, 1);
    border-width: 3px 2.5px 2.5px 3px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#nomeItem {
    margin-left: 25px;
    width: 432px;
    height: 52px;
}

#quantidade {
    width: 165px;
    height: 52px;
}

#tipo {
    width: 233px;
    height: 52px;
}

/* --------------------------------------
   MENSAGENS
-------------------------------------- */
.insercao,
.aviso {
    display: block;
    text-align: left;
    margin-top: 5px;
    margin-left: 25px;
    font-size: 15px;
}

.topico,
.responsavel {
    font-size: 20px;
    margin-bottom: 5px;
    margin-left: 30px;
}

/* --------------------------------------
   OUTROS ELEMENTOS
-------------------------------------- */
hr {
    width: 916.11px;
    border: 1px solid rgba(9, 98, 93, 1);
    margin-top: 7%
}

p {
    text-align: justify;
}

.item {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}

section {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    margin-right: 10px;
}

.linha-itens {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: left;
}

.campo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* --------------------------------------
   IMAGEM
-------------------------------------- */
img {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* --------------------------------------
   BOTÕES
-------------------------------------- */
.prazo-entrega {
    width: 129px;
    height: 45px;
    border-radius: 10px;
    border: 3px solid rgba(9, 98, 93, 1);
    background-color: white;
    font-size: 16px;
}

.add {
    display: block;
    margin-top: 10px;
    margin-left: 25px;
    width: 182px;
    height: 45px;
    border-radius: 8.42px;
    border: 3px solid;
    background-color: rgba(9, 98, 93, 1);
    font-size: 20px;
    color: white;
}

.seguinte {
    display: block;
    width: 643px;
    height: 57px;
    margin-top: 20%;
    margin-left: 15%;
    background-color: rgba(9, 98, 93, 1);
    border: 3px solid;
    border-radius: 8.42px;
    font-size: 20px;
    color: white;
    margin-bottom: 50px;
}


.titulo{
    font-size: 36px;
    margin-bottom: 5px;
    margin-top: 7%;
}

.subTitulo{
    font-size: 24px;
    margin-top: 5px;
}