body{
    display: flex;
    justify-content: center;
}

hr{
    background-color: #09625D;
    height: 2px;
    border: none;
}

.form-container{
    display: flex;
    flex-direction: column;
    width: 650px;
    min-width: fit-content;
    padding: 20px 50px;
    border: 2px solid #09625D;    
}

.form-container h1{
    text-align: center;
    margin-bottom: 0;
}

.form-container h3{
    text-align: center;
    font-weight: 100;
    color: #333;
    margin-top: 0;
}

form input, form select{
    width: 96%;
    height: 40px;
    border: 2px solid #09625D;
    border-radius: 8px;
    margin-top: 5px;
    padding: 0 10px;
}

.inputDetail{
    color: #333;
    margin-top: 5px;
    margin-bottom: 25px;
}



/* itens Doacao */

.itensDoacao{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 10px;
}

.itensTitle{
   text-align: center;
   font-size: 1.3rem;
   font-weight: 400;
}

.itensDoacao section{
    display: flex;
    flex-direction: column;
}

.nomeItem{flex: 4;}
.qntItem{flex: 1;}
.tipoItem{flex: 2;}

.tipoItem select{
    height: 43px;
}

.addItem{
    background-color: #09625D;
    color: #fff;
    border: none;
    border-radius: 10px;
    width: 110px;
    height: 35px;
    margin-bottom: 30px;
}

.item-box{
    display: flex;
    align-items: center;
    height: 55px;
    min-height: fit-content;
    padding: 5px 10px 5px 3px;
    border: 2px solid #09625D;
    border-radius: 20px;
    margin-bottom: 10px;
}

.decorationItem{
    width: 5px;
    height: 90%;
    background-color: #8B2E5E;
    border-radius: 10px;
}

.itemDetails{
    flex: 1;
}

.item-box p{
    margin: 5px;
}

.qntTipo-container{
    display: flex;
    gap: 40px;
}

.itemHeader{
    display: flex;
}

.itemHeader p{
    flex: 1;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.btn-apagar{
    border: 1px solid red;
    background: none;
    color: red;
    border-radius: 5px;
}

#listaItens{
    margin-bottom: 30px;
}

#btnResumo{
    background-color: #09625D;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    padding: 10px;
    width: 400px;
}