/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    color: #333;
    padding: 20px;
}

/* Container principal que envolve todos os contêineres */
.main-container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
}

/* Container do perfil */
.profile-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px; /* Espaçamento entre os containers */
}

/* Imagem do perfil */
.profile-photo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.profile-info h1 {
    font-size: 28px;
    color: #2c6f5d;
    margin-bottom: 10px;
}

.volunteer-status {
    font-size: 16px;
    color: #7f8e8b;
    margin-bottom: 10px;
}

.profile-info p {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
}

.stats {
    display: flex;
    gap: 30px;
    font-size: 16px;
}

.stats div {
    text-align: center;
    color: #2c6f5d;
}

/* Container das causas de interesse */
.interests-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px; /* Espaçamento entre os containers */
}

.interests-container h2 {
    font-size: 22px;
    color: #2c6f5d;
    margin-bottom: 10px;
}

.tags {
    display: flex;
    gap: 15px;
}

.tags span {
    padding: 5px 15px;
    background-color: #e3f7f4;
    color: #2c6f5d;
    border-radius: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Container das últimas participações */
.participations-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.participations-container h2 {
    font-size: 22px;
    color: #2c6f5d;
    margin-bottom: 20px;
}

.participation {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

.participation h3 {
    font-size: 18px;
    color: #2c6f5d;
    margin-bottom: 10px;
}

.participation p {
    font-size: 16px;
    color: #555;
}

.participation p strong {
    color: #2c6f5d;
}