.centralizando {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.seguranca-link {
  margin-left: 5px;  /* Adiciona um pequeno espaço à esquerda do link */
  text-decoration: none;  /* Remove sublinhado do link, se necessário */
  color: #05625D;  /* Ajusta a cor do link */
}

.seguranca-link:hover {
  text-decoration: underline;  /* Adiciona um efeito ao passar o mouse */
}


/* Conecta pessoas */
.conectapessoas-container{
  display: flex;
  position: relative;
  justify-content: center;
  max-height: 600px;
  height: auto;
  width: 100%;
  padding-top: 60px;
  margin-left: 0px;
}

.conectapessoas-container img{
  width: 100%;
  height: auto;  
  max-width: 100%;
  margin-bottom: 0px;
  display: inline-block;
}

.conectapessoas-container h1{
  font-size: clamp(1.8rem, 5vw, 3.2rem);
  position: absolute;
  color: #ffffff;
  text-align: center;
  top: 30%;
  width: 90%;
}

.conectapessoas-container p{
  font-size: 1.8rem;
  position: absolute;
  color: #ffffff;
  text-align: center;
  top: 60%;
  width: 90%;
}


/* Proposito e Compromisso */
.proposito{
  position: relative;
  justify-content: center;
  max-height: 150%;
  width: 100%;
  padding-top: 60px;
  margin-left: 0px;
}

.proposito-img{
  display: flex;
  justify-content: center;
  max-height: 600px;
  height: auto;
  width: 40%;
  padding-top: 5%;
}

.proposito-img #img1{
  z-index: 1;
  top: 50px;
  left: 130px;
  position: relative;
}

.proposito-img #img2{
  left: 50px;
  top: -25px;
  position: relative;
}

.proposito-text{
  position: absolute;
  justify-content: center;
  padding-top: 10px;
  right: 0px;
  display: flex;
  width: 50%;
  height: auto;
  text-align: right center;
}

.proposito-text h2{
  font-size: 2.2rem;
  color: #05625D;
  padding-top: 10px;
  margin-bottom: 0;
  /* margin-right: 10px; */  
  position: absolute;
}

.proposito-text p{
  position: relative;
  font-size: 1rem;
  color: #000000;
  padding-top: 100px;
  text-align: justify;
  margin-right: 90px;
  font-weight: normal;
  line-height: 1.6;
}

/* RESUMO FINANCEIRO */

.resumofinanceiro{
  margin-top: 100px;
  position: relative;
  height: 960px;
  width: 100%;
  padding-top: 60px;
  margin-left: 0px;
  background-color: #8b2e5e1c;
}

.resumofinanceiro h2{
  position: relative;
  display: flex;
  padding-top: 30px;
  color: #46152E;
}

.img-resumo1{
  width: 660px;
  height: 360px;
  padding-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-resumo2{
  width: 627px;
  height: 398px;
  padding-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

/* EQUIPE E SÓCIOS */

.socios{
  position: relative;
  height: 2000px;
  width: 100%;
  padding-top: 60px;
}

.socios img{
  transition: transform 0.3s ease;
  border-radius: 30px;
}

.socios img:hover{
  transform: translateY(-5px);
}

.equipe-title{
  position: relative;
  display: flex;
  padding-top: 60px;
  text-align: center;
  justify-content: center;
  height: 150px;
  width: 100%;
}

.equipe-title h2{
  font-size: 2.4rem;
  color: #0a3937;
}

/* CONTAINER MEMBROS */

/* Esquerda */
.socios-container-left{
  display:flex;
  margin-left: 100px;
  margin-bottom: 50px;
}

/* Direita */
.socios-container-right{
  display:flex;
  justify-content: right;
  margin-right: 100px;
  margin-bottom: 50px;
}

/* TEXTO MEMBROS */

/* ESQUERDA */
.text-box-left h2{
  font-size: 1.4rem;
  color: #3eb4ae;
  margin-left: 120px;
  font-weight: 600;
}

.text-box-left h3{
  font-size: 1rem;
  color: #000000;  
  margin-left: 120px;
  font-style: italic;
  font-weight: normal;
}

.text-box-left p{
  color: #000000;
  margin-left: 120px;
  text-align: justify;
  width: 70%;
}

/* DIREITA */
.text-box-right h2{
  font-size: 1.4rem;
  color: #3eb4ae;
  margin-left: 120px;
  font-weight: 600;
}

.text-box-right h3{
  font-size: 1rem;
  color: #000000;  
  margin-left: 120px;
  font-style: italic;
  font-weight: normal;

}

.text-box-right p{
  color: #000000;
  margin-left: 120px;
  text-align: justify;
  width: 70%;
}

/* PRIVACIDADE E SEGURANCA */

.seguranca {
  position: relative;
  height: 800px;
  width: 100%;
}

.seguranca-title{
  position: relative;
  display: flex;
  padding-top: 60px;
  text-align: center;
  justify-content: center;
  height: 150px;
  width: 100%;
}

.seguranca-title h2{
  font-size: 2.4rem;
  color: #0a3937;
}

.seguranca-container {
  display:flex;
  margin-left: 150px;
  margin-bottom: 30px;
}

.text-box-seguranca h2{
  font-size: 1rem;
  color: #000000;
  margin-left: 100px;
  font-weight: bold;
}

.text-box-seguranca p{
  font-size: 1rem;
  color: #000000;
  margin-left: 100px;
  text-align: justify;
  width: 100%;
}

.seguranca-link{
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

/* RELATÓRIOS 2025 */

.relatorios {
  position: relative;
  width: 100%;
  height: 475px;
  overflow-x: auto;  /* Permite rolagem horizontal */
  overflow-y: hidden;  /* Impede rolagem vertical */
}

.bg-img {
  position: absolute;
  top: o;
  left: 0;
  width: 100%;      
  height: 100%;
   /* Garante que a imagem cubra toda a área sem distorcer */
  
}

.relatorio-conteudo {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  color: #0a3937;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.relatorios-buttons {
  display: flex;
  justify-content: center;
  gap: 90px;
  margin-top: 20px;
}

.btn-relatorio {
  background-color: #3eb4ae;
  color: #ffffff;
  border: none;
  padding: 12px 50px;
  border-radius: 10px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-relatorio:hover {
  background-color: #05625D;
}

.relatorios p {
  font-size: 1rem;
  margin-top: 20px;
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  text-align: center;
}
