<link rel="stylesheet" href="css/global.css" />
<script src="/js/main.js"></script>

 <header class="navbar">
  <div class="logo">
    <img src="/assets/img/logo-navbar.png" alt="Logo Entrelaços" />
  </div>
  <div class="search-bar">
    <i class="fas fa-search search-icon"></i>
    <input
      type="text"
      placeholder="Busque por vagas, ONGs, causas sociais..."
    />
  </div>
  <nav>
    <a href="/index.html">Home</a>
    <div class="dropdown">
      <span class="dropdown-btn"
        >Quem somos <i class="fa-solid fa-caret-down thin-arrow"></i
      ></span>

      <div class="dropdown-content">
        <a href="/pages-html/sobre.html">Sobre nós</a>
        <a href="/pages-html/transparencia.html">Transparência</a>
        <a href="/pages-html/fale-conosco.html">Fale Conosco</a>
      </div>
    </div>
    <a href="/pages-html/empresas.html">Empresas</a>
    <div class="dropdown">
      <span class="dropdown-btn"
        >Colabore <i class="fa-solid fa-caret-down thin-arrow"></i
      ></span>
      <div class="dropdown-content">
        <a href="#">Vagas Voluntariado</a>
        <a href="#">Doação monetária</a>
        <a href="#">Doação de itens</a>
      </div>
    </div>
    <a href="/pages-html/loja.html">Loja</a>
    <div class="dropdown">
      <span class="dropdown-btn"
        >Razões <i class="fa-solid fa-caret-down thin-arrow"></i
      ></span>
      <div class="dropdown-content">
        <a href="#">Causas</a>
        <a href="/pages-html/voluntarios.html">Voluntários</a>
        <a href="/pages-html/ongs.html">ONGs</a>
      </div>
    </div>
  </nav>
  <button class="enter-btn">Entrar</button>
</header>
