<!-- navbar.html -->
<link rel="stylesheet" href="/css/global.css" />
<script src="/js/main.js" defer></script>

<header class="navbar">
  <nav>
    <div class="logo">
        <img src="/src/assets/img/logo-navbar.png" alt="Logo Entrelaços" />
    </div>

    <div class="search-bar">
        <i class="fas fa-search search-icon"></i>
        <input type="text" placeholder="Busque por vagas, ONGs, causas sociais..." />
    </div>

    <div class="nav-menu">
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li>
                <a href="#">Quem Somos <i class="fa-solid fa-caret-down"></i></a>
                <ul class="dropdown">
                    <li><a href="/src/pages-html/sobre.html">Sobre Nós</a></li>
                    <li><a href="/src/pages-html/transparencia.html">Transparência</a></li>
                    <li><a href="/src/pages-html/fale-conosco.html">Fale Conosco</a></li>
                </ul>
            </li>
            <li><a href="/src/pages-html/empresas.html">Empresas</a></li>
            <li>
                <a href="#">Colabore <i class="fa-solid fa-caret-down"></i></a>
                <ul class="dropdown">
                    <li><a href="#">Vagas Voluntariado</a></li>
                    <li><a href="/src/pages-html/doacao-monetaria.html">Doação Monetária</a></li>
                    <li><a href="/src/pages-html/doacao-itens.html">Doação de Itens</a></li>
                </ul>
            </li>
            <li><a href="/src/pages-html/loja.html">Loja</a></li>
            <li>
                <a href="#">Razões <i class="fa-solid fa-caret-down"></i></a>
                <ul class="dropdown">
                    <li><a href="/src/pages-html/causas.html">Causas</a></li>
                    <li><a href="/src/pages-html/voluntarios.html">Voluntários</a></li>
                    <li><a href="/src/pages-html/ongs.html">ONGs</a></li>
                </ul>
            </li>
            <a href="/src/pages-html/login.html"><button class="enter-btn">Entrar</button></a>
        </ul>
    </div>
</nav>

</header>
