<link rel="stylesheet" href="/css/global.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>

<script src="../js/main.js" defer></script>


<div class="grid-vagas">

      <div class="vagas">
        <div class="vaga-img"></div>
        <h3>Nome_Vaga</h3>
        <h4>ONG_Vaga</h4>

        <div class="tags-vagas">
          <div class="causa">CausaX</div>
          <div class="causa">CausaY</div>
        </div>

        <p>Auxiliar no preparo do solo, plantio e cuidados recorrentes da horta, promovendo educação ambiental com as crianças.</p>

        <div class="vagas-info">
          <div class="dados-vaga"><i class="fa-solid fa-location-dot fa-lg"></i>SP</div>
          <div class="dados-vaga"><i class="fa-solid fa-calendar"></i>Recorrente</div>
          <div class="dados-vaga"><i class="fa-solid fa-clock"></i>2h Semanais</div>
        </div>

        <center><button>Participe</button></center>

      </div>